@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  height: 100%;
  max-height: 100%;
}

body {
  color: #000;
  background-color: #FAFAFA;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base{
    body {
        @apply dark:bg-[#1F2D36] bg-[#FAFAFA] text-black dark:text-white
    }
}